@charset "UTF-8";

/*Todas as mídias*/

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px 
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: de 992px até 1200px
grandes telas: acima de 1200px

*/


@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/
    main{
        width: 60vw;
        background-color: white;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    
    }
   
}

@media screen and (min-width: 993px) and (max-width: 1200px){/*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{
        display: none;
    }
    
    #tablet{
        display:none;
    }
    #print{
        display: none;
    }
    #pc{
        display: block;
    }
    #tv{
        display: none;
    }
}



@media screen and (min-width: 1200px){ /*Grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone{
        display: none;
    }
    
    #tablet{
        display:none;
    }
    #print{
        display: none;
    }
    #pc{
        display: none;
    }
    #tv{
        display: block;
    }
}