@charset "UTF-8";

/*Todas as mídias*/

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px 
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: de 992px até 1200px
grandes telas: acima de 1200px

*/


@media screen and (min-width: 768px){ 
    menu#menu{
        display: block;
    }
    #burger{
        display: none;
    }
    main{
        width: 768px;
        
    }
    menu > ul > li{
        display: inline-block;
    }
   
}
